.card {
  border: 1px solid white;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 4px 4px white;
  text-align: center;
}

.card > h2 {
  font-size: 32px;
}

.card > img {
  border-radius: 10px;
}
